<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.system.dao.KqGsMapper">
    <resultMap id="gsMap" type="cc.mrbird.febs.system.domain.KqGs">
        <!--
          WARNING - @mbg.generated
        -->
    </resultMap>
    <select id="getGsList" resultMap="gsMap" parameterType="kqGs">
        select e.employeename,g.employeeid,d.code employeecode,c.rszfwname,c.employeetypename,c.deptname,c.statusname,g.startdate,g.enddate,g.id,g.memo from kq_gs g
        left join employee e  on e.employeeid=g.employeeid
        left join employee_core c on g.employeeid=c.employeeid and c.enddate='9999-12-31'
        LEFT JOIN (select d1.employeeid employeeid,d1.employeecode code
        from (select employeeid,max(enddate) m from code GROUP BY employeeid) t,code d1
        where t.employeeid=d1.employeeid and t.m=d1.enddate) d on  g.employeeid=d.employeeid
        where 1=1
        <if test="kqGs.employeeid!=null ">
            and g.employeeid=#{kqGs.employeeid}
        </if>
        <if test="kqGs.dept!=null ">
            and c.dept=#{kqGs.dept}
        </if>
        <if test="kqGs.status!=null ">
            and c.status=#{kqGs.status}
        </if>
        <if test="kqGs.rszfw!=null ">
            and c.rszfw=#{kqGs.rszfw}
        </if>
        <if test="kqGs.employeetype!=null ">
            and c.employeetype=#{kqGs.employeetype}
        </if>
        order by g.startdate
    </select>
</mapper>
