<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.system.dao.KqRmxbMapper">
    <resultMap id="rmxMap" type="cc.mrbird.febs.system.domain.KqRmxb">
        <!--
          WARNING - @mbg.generated
        -->
    </resultMap>
    <select id="getByStartDate" resultMap="rmxMap">
        select * from kq_rmxb where  pbdate&gt;=#{startDate} and pbdate&lt;=#{endDate}
        <if test="pbDept!= null ">and pbdept=#{pbDept}</if>
        order by employeename,pbdate
    </select>

    <select id="getPbByStartAndEndDate" resultMap="rmxMap">
        select * from kq_rmxb where employeecode=#{code} and pbdate&gt;=#{startDate} and pbdate&lt;=#{endDate} and shstatus!=2 order by pbdate
    </select>

    <select id="getRmxList" resultMap="rmxMap" parameterType="kqRmxb">
        select * from kq_rmxb where 1=1
        <if test="kqRmxb.employeeid != null ">and employeeid=#{kqRmxb.employeeid}</if>
        <if test="kqRmxb.employeetype != null ">and employeetype=#{kqRmxb.employeetype}</if>
        <if test="kqRmxb.rszfw != null ">and rszfw=#{kqRmxb.rszfw}</if>
        <if test="kqRmxb.pbdept != null ">and pbdept=#{kqRmxb.pbdept}</if>
        <if test="kqRmxb.scheduling != null ">and scheduling=#{kqRmxb.scheduling}</if>
        <if test="kqRmxb.startdate != null ">and pbdate&gt;=#{kqRmxb.startdate}</if>
        <if test="kqRmxb.enddate != null ">and pbdate&lt;=#{kqRmxb.enddate}</if>
        order by employeename,pbdate
    </select>

    <select id="getPbReport" resultMap="rmxMap" parameterType="kqRmxb">
        select k.*,m.total from kq_rmxb k
        LEFT JOIN ( select employeeid,count(scheduling) total from kq_rmxb where 1=1
        <if test="kqRmxb.employeeid != null ">and employeeid=#{kqRmxb.employeeid}</if>
        <if test="kqRmxb.employeetype != null ">and employeetype=#{kqRmxb.employeetype}</if>
        <if test="kqRmxb.rszfw != null ">and rszfw=#{kqRmxb.rszfw}</if>
        <if test="kqRmxb.pbdept != null ">and pbdept=#{kqRmxb.pbdept}</if>
        <if test="kqRmxb.scheduling != null and kqRmxb.scheduling !='' ">and scheduling=#{kqRmxb.scheduling}</if>
        <if test="kqRmxb.startdate != null ">and pbdate&gt;=#{kqRmxb.startdate}</if>
        <if test="kqRmxb.enddate != null ">and pbdate&lt;=#{kqRmxb.enddate}</if> group by employeeid ,scheduling)
        m on k.employeeid = m.employeeid where 1=1
        <if test="kqRmxb.employeeid != null ">and k.employeeid=#{kqRmxb.employeeid}</if>
        <if test="kqRmxb.employeetype != null ">and k.employeetype=#{kqRmxb.employeetype}</if>
        <if test="kqRmxb.rszfw != null ">and k.rszfw=#{kqRmxb.rszfw}</if>
        <if test="kqRmxb.pbdept != null ">and k.pbdept=#{kqRmxb.pbdept}</if>
        <if test="kqRmxb.scheduling != null and kqRmxb.scheduling !='' ">and k.scheduling=#{kqRmxb.scheduling}</if>
        <if test="kqRmxb.startdate != null ">and k.pbdate&gt;=#{kqRmxb.startdate}</if>
        <if test="kqRmxb.enddate != null ">and k.pbdate&lt;=#{kqRmxb.enddate}</if>
        group by k.employeeid,k.scheduling
    </select>
    <select id="getPbReportHan" resultMap="rmxMap" parameterType="kqRmxb">
        SELECT
        employeeid,
        employeename,
        scheduling,
        count( scheduling ) total
        FROM
        kq_rmxb
        WHERE
        1 = 1
        <if test="kqRmxb.employeeid != null  and kqRmxb.employeeid !=''">and employeeid=#{kqRmxb.employeeid}</if>
        <if test="kqRmxb.employeetype != null and kqRmxb.employeetype !=''">and employeetype=#{kqRmxb.employeetype}</if>
        <if test="kqRmxb.rszfw != null and kqRmxb.rszfw !=''">and rszfw=#{kqRmxb.rszfw}</if>
        <if test="kqRmxb.pbdept != null and kqRmxb.pbdept !=''">and pbdept=#{kqRmxb.pbdept}</if>
        <if test="kqRmxb.scheduling != null and kqRmxb.scheduling !='' ">and scheduling=#{kqRmxb.scheduling}</if>
        <if test="kqRmxb.startdate != null ">and pbdate&gt;=#{kqRmxb.startdate}</if>
        <if test="kqRmxb.enddate != null ">and pbdate&lt;=#{kqRmxb.enddate}</if>
        GROUP BY
        employeeid,
        employeename,
        scheduling
    </select>
    <select id="getPbReportHanExport" resultMap="rmxMap" parameterType="kqRmxb">
        SELECT
        employeeid,
        employeename,
        scheduling,
        count( scheduling ) total
        FROM
        kq_rmxb
        WHERE
        1 = 1
        <if test="kqRmxb.employeeid != null  and kqRmxb.employeeid !=''">and employeeid=#{kqRmxb.employeeid}</if>
        <if test="kqRmxb.employeetype != null and kqRmxb.employeetype !=''">and employeetype=#{kqRmxb.employeetype}</if>
        <if test="kqRmxb.rszfw != null and kqRmxb.rszfw !=''">and rszfw=#{kqRmxb.rszfw}</if>
        <if test="kqRmxb.pbdept != null and kqRmxb.pbdept !=''">and pbdept=#{kqRmxb.pbdept}</if>
        <if test="kqRmxb.scheduling != null and kqRmxb.scheduling !='' ">and scheduling=#{kqRmxb.scheduling}</if>
        <if test="kqRmxb.startdate != null ">and pbdate&gt;=#{kqRmxb.startdate}</if>
        <if test="kqRmxb.enddate != null ">and pbdate&lt;=#{kqRmxb.enddate}</if>
        GROUP BY
        employeeid,
        employeename,
        scheduling
    </select>
    <update id="updateOAXj">
        update hrqjxx set FLAG='X';
    </update>
</mapper>
